@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container border border-dark border-1 mt-4">
    <div class="row">

        <div style="background-color: #0f506f" class="text-white text-center p-2">
            PascalCaseDisplayMetadataProvider sample
        </div>

    </div>
</div>

<div class="card mt-4 mb-4 bg-light">
    <div class="card-body">
        <h5 class="card-title">About</h5>
        <p class="card-text">
            Designed to enhance the display metadata for properties in an ASP.NET Core MVC application.
            It modifies the display name of properties by splitting PascalCase names into separate words
        </p>

    </div>
</div>